.cards {
  min-height: 60vh;
  justify-content: space-around !important; 
}

body {
  padding-bottom: 0;
}

.flexingl {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 30px;
}

.containerl {
  padding: 10px;
  border-radius: 25px;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.l-container {
  align-items: flex-start;
  max-width: 80%;
}

.l-container > h1 {
  color: #282828;
  width: 100%;
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: 600;
}

.l-container p {
  font-size: 25px !important;
  font-weight: 400;
  text-align: left;
}

.l-container span {
  font-weight: 400;
}

/*Addapted from https://www.w3schools.com/howto/howto_css_flip_card.asp */
.flip-card {
  background-color: transparent;
  width: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 5px;
  border-radius: 50px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 50px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  font-family: 'Consolas';
  background-color: rgb(3, 64, 125);
  border-radius: 50px;
  border: 3px solid rgb(238, 177, 17);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the back side */
.flip-card-back {
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  border: 3px solid rgb(3, 64, 125);
  border-radius: 50px;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back p {
  font-size: clamp(12px, 1.5em, 20px) !important;
  font-weight: 400;
}

.butnl {
  width: 100%;
  background-color: none;
  color: rgb(238, 177, 17);
  font-weight: 900;
  font-size: 3em;
  overflow: hidden;
}

@media screen and (max-width: 970px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }

  .flip-card {
    width: 95%;
    height: 170px;
  }

}

.heading-container{
  color: rgb(3, 64, 125);
}

.heading-container .about {
  text-align: right !important;
}

.t-bold {
  font-weight: bold !important;
  font-family: 'Consolas';
}

.our-values {
  text-align: right !important;
}