.header-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  top: 0;
}

.background-image {
  background-image: url("https://environmentnewjersey.org/sites/environment/files/WEB_AME_Renewable-Energy-101_Carleton-Wind_16x9.jpg");
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.header-container {
  max-width: 580px;
  padding: 15px;
  background-color: rgba(253, 253, 253, 0.4);
  width: 50vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  position: absolute;
  border-radius: 35px;
}

.logo-container{
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -6vw;
  margin-bottom: 2.5vw;
}

.logo-container #cLogo{
  width: 175px;
  margin-bottom: 1.75vw;
}

.logo-container #h4iLogo{
  max-width: 100%;
}

.text-container {
  align-items: center;
}

.text-container > h1 {
  color: rgba(29, 42, 200, 1);
  width: 100%;
  font-size: 65px;
  font-weight: 350;
  font-family: HK Grotesk;
}

.text-container > p {
  font-family: HK Grotesk;
  color: #282828;
  font-size: 40px;
  font-weight: 200;
}

p > b {
  color:#072ac8 !important;
}

@media screen and (max-width: 768px) {
  .header-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header-container {
    min-height: 45vh;
    justify-content: center;
  }

  .text-container > h1 {
    margin-top: 50px;
    font-size: 35px;
  }

  .text-container > p {
    font-size: 30px;
  }

  .logo-container{
    margin-bottom: 1.0vw !important;
  }

  .logo-container #cLogo{
    width: 200px;
    margin-bottom: 0.5vw;
  }
}


@media screen and (max-width: 650px) {
  .header-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-container {
    min-height: 50vh;
    width: 75%;
    justify-content: center;

  }

  .text-container > h1 {
    margin-top: 50px;
    font-size: 30px;
    font-weight: 400;
  }

  .text-container > p {
    font-size: 25px;
    font-weight: 500;
  }

  .logo-container #cLogo{
    width: 150px;
  }
}