.navbar-nav {
    position: absolute; 
    right: 0px; 
    font-size: 20px;
    font-weight: 400px;
    margin-top: 3px !important;
    margin-left: 5px !important;
    margin-right: 5px !important; 
    font-family: Consolas;
    display: flex;
}

.nav-item {
    margin-left: 10px;
}

.nav-link:hover {
    transition: 0.3s;
    text-shadow: 2px 2px 4px rgba(0, 62, 126, 0.5);
}


.on-page{
    text-shadow: 2px 2px 4px  rgba(0, 62, 126, 0.3);
}

nav {
    border-radius: 0 !important;
}

#h4i {
    float: left;
}

#ccLogo {
    vertical-align: super;
    margin-top: 4px;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.toggle-icon {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 780px) {
    #h4i {
        max-width: 45px;
        overflow: hidden;
    }
}
@media screen and (max-width: 650px) {
    .navbar-nav {
        position: relative;
    }

    .navbar {
        flex-direction: column !important;
    }

    .toggle-icon {
        display: unset;
    }

    .display {
        display: none;
    }
}
