.App {
  text-align: center;
}

#nav {
  width: 100%;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: 255,255,255,0.5;
}

#navbarNav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  font-size: 20px;
}

#h4iLogo {
  max-height: 35px;
  float: left;
}

#ccLogo {
  max-height: 25px;
  float: left;
}
